.background {
    background:url('../Image1/abou.gif');
    position: relative;
    height: 100%;
    width: 100%;
}

.layer {
    background-color: rgba(43, 42, 36, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}